---
ci:
  autoupdate_schedule: quarterly
  skip: ["identity", "poetry-lock", "pytest", "coverage-badge"]

repos:
  - repo: meta
    hooks:
      - id: identity

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "main"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-ast

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.2
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.2
    hooks:
      - id: poetry-check
      - id: poetry-lock

  # Formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Testing and coverage
  - repo: local
    hooks:
      - id: pytest
        name: Run unit tests
        entry: pytest tests --quiet
        language: system
        pass_filenames: false
        always_run: true
      - id: coverage-badge
        name: Generate coverage badge
        entry: coverage-badge -o coverage.svg -f
        language: system
        pass_filenames: false
        always_run: true
